* {
  padding: 0;
  margin: 0%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-image: url(https://img.freepik.com/premium-photo/green-grass-background-football-field_41969-2262.jpg?w=1480);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.658);
  backdrop-filter: blur(3px);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 900px;
}

h1 {
  width: 90%;
  margin: 60px;
  font-size: 50px;
  text-align: center;
  color: #86b049;
  animation-name: head;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes head {
  12% {
    color: #aeb644;
  }

  25% {
    color: #b06149;
  }

  37% {
    color: #337c76;
  }

  50% {
    font-size: 53px;
    color: #33447c;
  }

  62% {
    color: #33507c;
  }

  75% {
    color: #61337c;
  }

  87% {
    color: #7c3333;
  }
}

h2 {
  font-size: 30px;
  color: #476930;
}

section {
  display: flex;
  gap: 6em;
  flex-wrap: wrap;
  justify-content: center;
}

.scores div {
  display: flex;
  gap: 1em;
  align-items: center;
}

button {
  background: none;
  border: none;
  padding: 14px 14px;
  background-color: #f1dddf70;
  border-radius: 25px;
  color: #476930;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #86b049;
  transition-duration: 0.5s;
}

table {
  border: 3px solid #476930;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}

tr {
  width: 100%;
}

td {
  padding: 2px 0 2px 8px;
  color: #476930;
}

.gray {
  background-color: #c8b88ac9;
}

.addForm {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

input {
  width: 100%;
  height: 30px;
  border: 2px solid #476930;
  padding-left: 10px;
  border-radius: 6px;
  background-color: #f1dddf;
}

input::placeholder {
  color: #476930;
}

input:hover {
  transform: scale(1.02);
  transition-duration: 0.5s;
}

.submitBtn {
  align-self: flex-end;
}

.error {
  padding: 20px;
  color: #7c3333;
}
